@use 'colorArticle';
@import "modalArticle";

$primary-color: red;
$backgorund-color: #FFB6C1;
$danger: $pink;

//kondisi
#header {
    @if $primary-color == blue { 
        background-color: $danger; 
    } 
    
    @else if $primary-color == red { 
        background-color: $backgorund-color 
    } 
    
    @else { 
        background-color: black; 
    } 
}

#teks-header {
    @if $primary-color == red { 
        color: $danger; 
    } 
    
    @else if $primary-color == blue { 
        color: $backgorund-color 
    } 
    
    @else { 
        color: black; 
    } 
}

//perulangan
$font-size: 8px;
@for $n from 1 through 7 {
    .text-size-#{$n} {
        font-size: $font-size * $n;
    }
}


.btn .btn-danger {
    background-color :$danger;
}

#card:hover {
    box-shadow: 20px 20px 30px rgba(18, 19, 19, 0.15);
    transform: translateY(-10px);
    background-color: $backgorund-color;
    transition: 0.5s;
}

#blog {
    background-color: $backgorund-color;
}

#pesan {
    background-color: $danger;
}

#link:hover {
    color: $danger;
    transition: 0.5s;
}

// fungsi
$pixel: 10px;

@function atur-tinggi-lebar($n) {
    @return $n * $pixel;
}

#bunga {
    max-height: atur-tinggi-lebar(20);
}

#gambar {
    filter: invert(1);
    height: atur-tinggi-lebar(3);
 }